.register-form {
    position: relative;
    margin-top: 50px;
    width: 30%;
    left: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

#carousel-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 900px;


}

#image-carousel {
    width: 900px;
    height: 400px;

}

.home {
    background-color: #eaf6f6;
    margin-top: 0;
}

.navbar-links {
    overflow: hidden;
    margin-bottom: 0;
}

.ml-auto {

    padding: 0px;
}

.navbar-links a {

    float: left;
    font-size: 18px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: #a9a9a9;

}

.navbar {
    padding-top:0px;
    margin-top:0;
    margin-bottom: 0;
}

#toTopButton {
    position: relative;
    left: 1300px;
    bottom: 120px
}

.product-form {
    position: relative;
    width: 30%;
    left: 300px;

}

.product-list {
    margin-top: 60px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1em;

}

.materialui-card {
    transition: 0.2;
}

.materialui-card:hover {
    transform: scale(1.1);
}

.cardb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.item-button {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: grey;
    color: #fff;


    position: absolute;

}

.item-button:hover .tooltiptext {
    visibility: visible
}

.dialogue-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.image-container {
    position: relative
}

.container-text-block {
    position: relative;
    top: -30px;
    color: darkslategrey;
    background-color: #eaf6f6;
    text-align: center;
    vertical-align: center;
    width: 35%;
    font-family: "cursive";
}

.content-card{
    position:relative;
    bottom:30px;
    font-family:"Gill Sans Extrabold", sans-serif;
    color:red;
}

.photo-ecommerce{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.about-us{
    position:relative;
    top:100px;
}

.header{
    margin-bottom:0px;
    padding-bottom:0;
}
.footer-image{
    width:150;
    height:150;
}

#navbar-image{
    position:absolute;
    bottom:45px;
    left:10px;

}

#paragraph-positon{
    position:relative;
    top:0px;
}



.testimonial p {
    color: #fff;
    line-height: 19px;
    font-size: 13px;
    margin-top: 16px
}

.testimonial h5 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 8px
}

body {
    background: black
}

.col-md-4 {
    margin-top: 25px
}

.col-md-4:hover{
    transform: scale(1.3);
}